@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'inter','sans-serif';
    text-decoration:none;
}
body{
    height:100vh;
    text-align: center;
    background-color: #ffffff;
    padding:0.1rem;
}
.header-content{
    max-width: 1280px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    margin:0px auto;
}
.logo{
    font-size: 2rem;
    display:flex;
    justify-content: center;
    gap:0.625rem;
    font-weight:bold;
    color:#333333;
}
.logo-icon{
    height: 2.775rem;
    width: 1.938rem;
}
.nav{
    display:flex;
    gap:1.5rem;
}
.nav-links{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.nav-links:hover{
    color:#2563eb;
}
.contact-button{
    color:#ffffff;
    background-color: #6366F1;
    border:none;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    transform:background-color 0.1s;
}
.contact-button:hover{
    background-color: #5254f8;
}
.menu-button{
    font-size:1rem;
    border:none;
    display:none;
    border-radius: 0.365rem;
    padding: 0.5rem 0.9rem;
    font-weight: 600;
    background-color: #ffffff;

}
.menu-icon{
    height:1.5rem;
    width:1.5rem;
}
@media screen and (max-width:800px){
    .nav{
        display:none;
    }
    .contact-button{
        display:none;
    }
    .menu-button{
        display:block;
    }
}
.main-section{
    max-width: 1280px;
    margin:0px auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
}
.content-left{
    animation:slide 1s ease forwards;
    opacity:0;
    text-align: center;
}
@keyframes slide {
    0%{
        opacity:0;
        transform:translateX(-100%);
    }
    100%{
        opacity:1;
        transform:translateX(0);
    }
}
.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color:#6366F1;
}
.section-heading{
    font-size: 2.3rem;
    padding: 1.1rem;
    color:#333333;
}
.section-description{
    font-size: 1.13rem;
    color:#808080;
}
.button-box{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}
.start-button,.tour-button{
    border: none;
    border-radius: 0.375rem;
    background-color: #6366F1;
    color:#ffffff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    transform:all 0.1s;
}
.tour-button{
    background-color: #555;
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button:hover{
    background-color: #808080;
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}
.section-img{
    height:100%;
    width:100%;
}
@media screen and (min-width:800px){
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .button-box{
        justify-content: flex-start;
        padding-left: 0;
    }
    .section-label{
        font-size: 1rem;
        padding-left: 0.4rem;
    }
    .section-heading{
        font-size: 3.8rem;
        padding-left:0;
    }
    .img-container{
        height: 69vh;
    }
    .section-description{
        font-size: 1.1rem;
        color:#808080;
        width: 78%;
    }
}
.sub-section{
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation:slide 1s ease forwards;
}
.sub-section-heading{
    font-size: 2.3rem;
    font-weight: 900;
}
.company-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.6rem;
    padding: 1rem;
    border:none;
    border-radius: 0.625rem;
    background-color: #f0f0f0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    display:flex;
    align-items: center;
    background-color:#f0f0f0;
    gap: 0.5rem;
}
.svg-img{
    height: 1.56rem;
}

.logo-txt{
    font-size: 1rem;
    color:#808080
}
@media screen and (min-width:800px){
    .company-container{
        grid-template-columns:repeat(4,1fr);
    }
}
.feature-container{
    background-color: #f0f0f0;
    padding: 2.5rem 0;
    text-align: center;

}
.feature-content{
    max-width:800px;
    margin:0 auto;
    padding:0 2rem;
}
.main-info{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.main-info-heading{
    font-size: 2rem;
    font-weight: bold;
}
.main-info-content{
    font-size: 0.925rem;
    color:#808080;
}
.card-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-top: 1.3rem;
}
.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6d7890;
    padding: 1.6rem;
    border-radius: 1rem;
    gap: 1rem;
}
.card-img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.card-svg{
    width: 1.5rem;
    height: 1.5rem;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-heading{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
.card-info{
    color:white;
}
.card1{
    background-color: #4a90e2;
}
.card2{
    background-color: #FF6289;
}
.card3{
    background-color: #fcbf58;
}
.card4{
    background-color: #44bfc3;
}
.card5{
    background-color: #77b05d;
}
.card6{
    background-color: #7d78b1;
}
@media screen and (max-width:500px){
    .card-container{
        grid-template-columns: repeat(1,1fr);
    }
}
.testimonial-container{
    max-width:1000px;
    padding:2rem;
    margin:0px auto;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.testimonial-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:1rem;
}
.testimonial-heading{
    font-size:1.875rem;
    font-weight: bold;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(171, 163, 163);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testimonial-card:hover{
    transform:scale(1.05);
    box-shadow: 0 4px 8px rbga(0,0,0,0.2);
    border: 1px solid blue;
}
.tcard-img{
    height: 5rem;
    width: 5rem;
}
.t-card-info{
    color: #555;
    font-size: 0.875rem;
}
.t-card-author{
    color:#6366F1;
    font-size: 1rem;
}
.t-card-author-desc{
    font-size: 0.875rem;
    color: #777;
}
.newsletter-container{
    max-width: 1000px;
    padding:2rem;
    height: 50vh;
    margin: 0 auto;
    background-color: #ffffff;
}
.newsletter-content{
    display:flex;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color:#f0f0f0;
    
}
.news-left{
    height:100%;
    width:50%;
    display: none;
}
.newsletter-img{
    
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: center;
}
.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
@media screen and (min-width:640px) {
    .news-left{
        display: block;
        width: 50%;
    }
    .news-right{
        width: 50%;
    }
    .newsletter-container{
        padding: 2rem;
    }
}
.right-heading{
    font-size: 2.2rem;
    font-weight: bold;
    color:#6366F1;
}
.right-content-info{
    text-align: left;
    color:#777;
}
.signup-button-box{
    display:flex;
    flex-wrap:wrap;
    gap:0.5rem;
    margin-bottom:1rem;
}
.email-button{
    background-color: #ffffff;
    color:#333;
    outline:none;
    border:1px solid #ccc;
    border-radius: 4px;
    padding:0.5rem 0.75rem;
}
.email-button:focus{
    border:2px solid #2563eb;
    box-shadow:0px 4px 8px rgba(0,0,0,0.3);
}
.send-button{
    border: none;
    border-radius: 0.375rem;
    background-color: #6366F1;
    color:#ffffff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.newsletter-desc{
    text-align: left;
    font-size: 0.76rem;
    color:#808080;
}
.newsletter-desc a{
    text-decoration: underline;
}
.footer-container{
    background-color:#f0f0f0;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding:1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}
.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-svg{
    width: 2rem;
    height: 6rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
}
.social{
    display: flex;
    gap: 0.8rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
}

ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}

@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    .footer-top{
        padding-left: 1rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}